body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.note {
    background-color: blue;
    color: black;
}

header {
    background-color: #e9bf04;
    color: #0e0d0d;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

footer {
    background-color: #e9bf04;
    color: #0e0d0d;
    text-align: center;
    padding: 10px;
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
}
